
src/archive
src/scratch/
ninja-tag
ninja-tag.ps1

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.env
.ml_env/
*.egg-info/

# spaCy model outputs
output/
*.spacy

# Logs
*.log
logs/
log/

# Notebooks
*.ipynb

# Data
data/converted/
data/labeled/
data/raw/
data/model_dist/
data/model-dist/
data/spacy/
data/training/
data/eval_results/
wandb/