# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.env
.ml_env/
*.egg-info/

# spaCy model outputs
output/
*.spacy

# Logs
*.log
logs/

# Data
data/raw/                   # Ignore raw input files (e.g., Label Studio exports)
data/processed/             # Ignore processed training/validation data
!data/processed/README.md   # Keep a README in processed/ to explain the directory

