# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.env
.ml_env/
*.egg-info/

# spaCy model outputs
output/
*.spacy

# Logs
*.log
logs/

# Data
data/raw/*
data/processed/*
!data/processed/
!data/processed/json/
!data/processed/spacy/